services:
  pihole-long-term-stats:
    image: ghcr.io/davistdaniel/piholelongtermstats:latest
    container_name: pihole-lt-stats
    ports:
      - "9292:9292"  # Map host port 9292 to container port 9292
    volumes:
      - ./pihole-FTL.db:/app/pihole-FTL.db:ro  # Path to your Pi-hole DB file (adjust if it's not in current directory)
    environment:
      - PIHOLE_LT_STATS_DB_PATH=/app/pihole-FTL.db  # Path inside the container to the mounted DB file
      - PIHOLE_LT_STATS_DAYS=31                     # Number of days from now of data to analyze; change if desired
      - PIHOLE_LT_STATS_PORT=9292                   # Port the app listens to inside container; keep in sync with ports mapping
      - PIHOLE_LT_STATS_NCLIENTS=10                 # Number of clients to show in top clients plots
      - PIHOLE_LT_STATS_TIMEZONE="UTC"              # timezone for display
    restart: unless-stopped
